<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.comment-validator.groups"):</td>
    <td nowrap>
        <input id="selectedGroupsList" name="selectedGroupsList" type="hidden" value="$!{val-hidGroupsList}"/>
        <select id="commentGroupList" name="commentGroupList" multiple size="10" width=180px style="width:180px;" onchange="changeGroups();">
        #foreach ($group in $all-groups)
            <option #if($selectedGroupsListSet.contains($group.getName()))selected="selected"#end value="$group.getName()">$group.getName()</option>
        #end
        </select>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.comment-validator.groups.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.comment-validator.customerror"):</td>
    <td nowrap>
        <textarea class="textarea" id="error" rows="3" cols="60" name="error">$!error</textarea>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.comment-validator.customerror.desc")</span>
    </td>
</tr>
<script language="javascript">
    function changeGroups() {
        var commentGroups = ""; 
        jQuery('#commentGroupList :selected').each(function(i, selected){ 
            commentGroups += jQuery(selected).text() + "&"; 
        });
        jQuery("#selectedGroupsList").val(commentGroups);
    }
</script>
