<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.jql"):</td>
    <td nowrap>
        <textarea class="textarea" id="jqlstr" rows="3" cols="60" name="jqlstr">$!jqlstr</textarea>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.jql.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.field"):</td>
    <td nowrap>
        <select class="select" id="cfId" name="cfId">
            #foreach($issueProp in $issueProps.entrySet())
            <option #if($!cfId == $issueProp.key)selected="selected"#end value="$issueProp.key">$issueProp.value</option>
            #end
        </select>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.field.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.count"):</td>
    <td nowrap>
        <input class="text" type="text" id="issuecount" name="issuecount" value="$issuecount"/>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.count.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.customerror"):</td>
    <td nowrap>
        <textarea class="textarea" id="error" rows="3" cols="60" name="error">$!error</textarea>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.unique-validator.customerror.desc")</span>
    </td>
</tr>
