<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.set-estimate-function.customfield"):</td>
    <td nowrap="">
        <select class="select" id="customFieldId" name="customFieldId">
            #foreach($entry in $customFields.entrySet())
            <option #if(${entry.key} == $!{customFieldId})selected="selected"#end value="${entry.key}">${entry.value} (${entry.key})</option>
            #end
        </select>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.set-estimate-function.customfield.desc")</span>
    </td>
</tr>
<tr>
    <td class="fieldLabelArea">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.set-estimate-function.inhours"):</td>
    <td nowrap="">
        <div class="checkbox">
            <input class="checkbox" type="checkbox" name="inhours" id="inhours" value="true" #if($inhours == "true")checked="checked"#end/>
        </div>
        <br/><span class="subText">$i18n.getText("ru.andreymarkelov.atlas.plugins.amutils.set-estimate-function.inhours.desc")</span>
    </td>
</tr>
