#if($isConfigured)
<div style="border:2px solid green;padding:7px;">
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.jqlopt"): $!jqlstr</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.erroropt"): $!errorview</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.countopt"): $issuecount</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.excludeopt"): $excludeitself</strong></p>
</div>
#else
<div style="border:2px solid red;padding:7px;">
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.jqlopt"): $!jqlstr</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.erroropt"): $!errorview</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.countopt"): $issuecount</strong></p>
<p><strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.utils.jqlvalidator.excludeopt"): $excludeitself</strong></p>
</div>
#end